<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">College Student Carpool<span> by KarPool</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					{{#if user}}
						<li><a href="#">Welcome, <strong>{{user.displayName}}</strong></a></li>
					{{else}}
						<li><a href="index.html">Login</a></li>
					{{/if}}
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html">Find a Ride</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->


			<!-- One -->
					<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
						<div class="inner">
							<article class="box">
								<header>
									<h2>Set Your KarPool</h2>
									<p>Just fill out the form to post to the KarPool board</p>
								</header>


								<!-- booking form  -->
								<div class="row">
									<div class="col-xs-12 col-xs-12 mt">
										<div class="input">
											<label for="depart-address">Departing Address:</label>
											<input type="text" class="form-control" id="depart-Address" placeholder="University of Houston"/>
										</div>
								</div>

									<div class="col-xs-12 col-xs-12 mt">
										<div class="input">
											<label for="depart-time">Departing Time:</label>
											<input type="text" class="form-control" id="depart-Time" placeholder="3/7 12:00pm"/>
										</div>
									</div>

									 <div class="col-xxs-12 col-xs-6 mt alternate">
										 <section>
											 <label for="seats">Seats Available: </label>
											 <select class="cs-select cs-skin-border" id="seats">
												 <option value="" disabled selected>0</option>
												 <option value="1">1</option>
												 <option value="2">2</option>
												 <option value="3">3</option>
											 </select>
										 </section>
									 </div>

								 <div class="row">
									 <div class="col-xs-12 col-xs-12">
										 <div class="input">
											 <label for="arrival-address">Arriving Address:</label>
											 <input type="text" class="form-control" id="arrival-Address" placeholder="UT-Austin"/>
										 </div>
									 </div>

									 <div class="col-xs-12 col-xs-12">
										 <div class="input">
											 <label for="return-time">Returning Time:</label>
											 <input type="text" class="form-control" id="return-depart-Time" placeholder="3/12 4:00pm"/>
										 </div>
									 </div>

									<div class="col-xs-12 col-xs-12 mt">
										<div class="input">
											<label for="cost">Set Cost ($):</label>
											<input type="text" class="form-control" id="cost" placeholder="10"/>
										</div>
									</div>

									<div class="row">
									 <div class="col-xxs-12 col-xs-6 mt alternate">
										 <div class="input">
											 <label for="return-departing-address">Return Departing Address:</label>
											 <input type="text" class="form-control" id="return-depart-Address" placeholder="UT-Austin"/>
										 </div>
									 </div>

									 <div class="col-xxs-12 col-xs-6 mt alternate">
										 <div class="input">
											 <label for="return-arrival-address">Return Arriving Address:</label>
											 <input type="text" class="form-control" id="return-arrival-Address" placeholder="University of Houston"/>
										 </div>
									 </div>

									 <div class="col-xxs-12 col-xs-6 mt alternate">
										 <div class="input">
											 <label for="cost">Car Make/Model:</label>
											 <input type="text" class="form-control" id="car-Make" placeholder="Nissan Sentra"/>
										 </div>
									</div>

									<div class="col-xs-12 col-xs-12 mt alternate">
										 <section>
											 <label for="comments">Additional Comments:</label>
											 <input type="text" class="form-control" id="notes" placeholder="Bring chips."/>
										 </section>
									 </div>

								<div class="col-xs-12 col-xs-12 mt alternate">
									 <section>
										 <label for="title"></label>
										 <br>
										 <a href="#three" class="button special fit">Send Ride</a>
									 </section>
								 </div>

								</section>

								{{#each driver_posts}}
								<!-- Shows all avalible rides -->
										<section id="one" class="wrapper post bg-img" data-bg="banner4.jpg">
											<div class="inner">
												<article class="box">
														<div class="row">
															<div class="col-xs-4 col-sm-2 col-md-1">
																<img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10485523_10152559937794739_195606576526976569_n.jpg?oh=df6efbaacc355abb1b8706c5940a617c&oe=592D3ADF" width="200" height="200" class="img responsive img-thumbnail full_image">
															</div>

															<!-- <div class="col-xs-8 col-sm-10 col-md-5 text-center">
																<div class="well emptywell">
																	<h5 style="font-size:19px">Driver</h5>
																</div>
															</div> -->

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Driver: </strong> Azim Momin</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Departing Address: </strong> {{this.depart_address}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Departing Time: </strong> {{this.depart_time}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Arrival Address: </strong> {{this.arrival_address}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Return Departing Address: </strong> {{this.return_depart_address}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Return Departing Time: </strong> {{this.return_depart_time}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Return Arrival Address: </strong> {{this.return_arrival_address}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Seats Available: </strong> {{this.seats}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Car Make/Model: </strong>{{this.car}}</p>
																</div>
															</div>

															<div class="col-xs-12 col-sm-4 col-md-4 text-left">
																<div class="well emptywell">
																<p><strong>Additional Comments: </strong> {{this.notes}}</p>
																</div>
															</div>
													</div>

													<div class="col-xs-12 col-sm-4 col-md-4 text-left">
														<div class="well emptywell">
														<p><strong>Cost: $</strong> {{this.cost}}</p>
														</div>
													</div>

													<div class="col-xs-12 col-sm-4 col-md-4 text-left">
														<div class="well emptywell">
															<a href="index.html" class="button alt center text-right">Book Now</a>
														</div>
													</div>


										 </section>
										 {{/each}}


						</article>
						
					</div>

				</section>
